<!doctype html>
<html lang="en">
  <head>
    <title>OpenLayers example</title>
    <link rel="stylesheet" href="css/ol.css" type="text/css">
    <style>
      .map {
        height: 780px;
        width: 100%;
      }
      #marker {
       width: 20px;
       height: 20px;
       border: 1px solid #088;
       border-radius: 10px;
       background-color: #0FF;
       opacity: 0.5;
     }
     .popover-content {
       min-width: 180px;
     }
    </style>
    <script src="build/jquery-3.2.0.min.js"></script>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="build/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- <h2>
      <a href="/1">My Map1</a>
      <a href="/2">My Map2</a>
      <a href="/3">My Map3</a>
    </h2> -->
    <form class="form-inline">
      <label>Geometry type &nbsp;</label>
      <select id="draw-type">
        <option value="None">None</option>
        <option value="Point">Point</option>
        <option value="LineString">LineString</option>
        <option value="Polygon">Polygon</option>
        <option value="Circle">Circle</option>
      </select>
    </form>
    <form class="form-inline">
      <label>Action type &nbsp;</label>
      <select id="select-type">
        <option value="click" selected>Click</option>
        <option value="none">None</option>
      </select>
      <span id="status">&nbsp;0 selected features</span>
    </form>
    <!-- <div class="">
      <button class="btn" id="openAddInteraction" type="button" name="button">开启插件</button>
      <button class="btn" id="closeAddInteraction" type="button" name="button">关闭插件</button>
    </div> -->

    <div id="map" class="map"></div>
    <div style="display: none;">
      <!-- Clickable label for Vienna -->
      <!-- <a id="vienna" class="overlay" target="_blank" href="http://en.wikipedia.org/wiki/Vienna">Vienna</a> -->
      <div id="marker" title="Marker"></div>
      <!-- Popup -->
      <div id="popup" title="此处信息展示"></div>
      <div id="message" title="请输入 id 和 描述"></div>
    </div>
    <div>矢量地图Feature总数： <span id="count"></span></div>
    <div class="popover-content">
      <p>请在此处<code>${coordinate}</code>输入描述:
        <input type="text" name="" value="">
        <button type="button" name="button">保存</button>
        <button type="button" name="button">取消</button>
      </p>
    </div>
    <div class="">
      <p>id: ${form.id}</p>
      <p>message: ${form.message}</p>
      <button id="" type="button" name="button"></button>
    </div>

    <script src="build/ol-debug.js" type="text/javascript"></script>
    <!-- <script src="js/main/interaction.js" charset="utf-8"></script> -->
    <script src="js/main/init.js" charset="utf-8"></script>
    <script src="js/main/draw_and_modify.js" charset="utf-8"></script>
    <!-- <script src="js/main/addOverlay_position.js" charset="utf-8"></script> -->
    <script src="js/main/select_and_pop.js" charset="utf-8"></script>
    <!-- <script src="js/main/custom_interaction.js" charset="utf-8"></script> -->
  </body>
</html>
